<!DOCTYPE html>
<html>
  <head>
    <title>DummyApp</title>

    <script src="bower_components/scanner/dist/scanner.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
